In [9]:
import pandas as pd

df_demo = pd.read_csv(r"C:\Users\rcrds\Downloads\df_final_demo.txt")
df_demo

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [11]:
df_demo.gendr.value_counts()

gendr
U    24122
M    23724
F    22746
X        3
Name: count, dtype: int64

In [2]:
df_pt1 = pd.read_csv(r"C:\Users\rcrds\Downloads\df_final_web_data_pt_1.txt")
df_pt1

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [3]:
df_pt2 = pd.read_csv(r"C:\Users\rcrds\Downloads\df_final_web_data_pt_2.txt")
df_pt2

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [5]:
df_pt = pd.concat([df_pt1,df_pt2])
df_pt

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [ ]:
df_pt.process_step.value_counts()

process_step
start      243945
step_1     163193
step_2     133062
step_3     112242
confirm    102963
Name: count, dtype: int64

In [17]:
df_pt[df_pt["visit_id"]=="922267647_3096648104_968866"]

,client_id,visitor_id,visit_id,process_step,date_time
412243,9668240,388766751_9038881013,922267647_3096648104_968866,confirm,2017-05-24 19:07:35
412244,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 19:05:14
412245,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 19:05:07
412246,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 19:04:43
412247,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 19:04:03
412248,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 19:04:00
412249,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 19:02:37
412250,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 19:02:19
412251,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 19:02:04
412252,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 18:51:37
412253,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 18:51:15
412254,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 18:51:04
412255,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 18:49:36
412256,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:49:35
412257,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 18:48:11
412258,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:48:02
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34

In [7]:
df_experiment = pd.read_csv(r"C:\Users\rcrds\Downloads\df_final_experiment_clients.txt")
df_experiment

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]