In [88]:
import pandas as pd

df_demo = pd.read_csv(r"C:\Users\rcrds\Downloads\df_final_demo.txt")
df_demo

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [89]:
df_demo.gendr.value_counts()

gendr
U    24122
M    23724
F    22746
X        3
Name: count, dtype: int64

In [90]:
df_pt1 = pd.read_csv(r"C:\Users\rcrds\Downloads\df_final_web_data_pt_1.txt")
df_pt1

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [91]:
df_pt2 = pd.read_csv(r"C:\Users\rcrds\Downloads\df_final_web_data_pt_2.txt")
df_pt2

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [92]:
df_pt = pd.concat([df_pt1,df_pt2])
df_pt

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [93]:
df_pt.duplicated().sum()
df_pt = df_pt.drop_duplicates().reset_index().drop(columns="index")
df_pt

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
744636,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
744637,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
744638,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
744639,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
744640,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [94]:
df_pt["date_time"] = pd.to_datetime(df_pt["date_time"])

In [95]:
df_pt.process_step.unique()

array(['step_3', 'step_2', 'step_1', 'start', 'confirm'], dtype=object)

In [96]:
df_pt.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [97]:
df_pt = df_pt.sort_values(by=["client_id","visitor_id","visit_id","date_time"])

In [98]:
df_pt["duration"] = ""

In [99]:
def duration_calculator(row, df):
    if row["process_step"] == "start":
        return 0
    prev_idx = df.index.get_loc(row.name) - 1
    if prev_idx < 0:
        return 0
    prev_row = df.iloc[prev_idx]
    return int((row["date_time"] - prev_row["date_time"]).total_seconds())

In [100]:

df_pt["duration"] = df_pt.apply(duration_calculator, axis=1, df=df_pt)

In [101]:
df_pt

,client_id,visitor_id,visit_id,process_step,date_time,duration
283823,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,0
283822,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,9
283821,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,46
283820,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,94
283819,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,64
...,...,...,...,...,...,...
640076,9999875,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:40:08,7
640075,9999875,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:41:28,80
640074,9999875,738878760_1556639849,931268933_219402947_599432,step_2,2017-06-01 22:41:47,19
640073,9999875,738878760_1556639849,931268933_219402947_599432,step_3,2017-06-01 22:44:58,191
640072,9999875,738878760_1556639849,931268933_219402947_599432,confirm,2017-06-01 22:48:39,221

In [102]:
df_pt.process_step.value_counts()

process_step
start      234999
step_1     162797
step_2     132750
step_3     111589
confirm    102506
Name: count, dtype: int64

In [103]:
df_pt[df_pt["visit_id"]=="922267647_3096648104_968866"]

,client_id,visitor_id,visit_id,process_step,date_time,duration
744639,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,0
744638,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,17
744637,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,0
744636,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,0
744635,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:48:02,112
744634,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 18:48:11,9
744633,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:49:35,84
744632,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 18:49:36,1
744631,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 18:51:04,88
744630,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 18:51:15,11
744629,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 18:51:37,22
744628,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 19:02:04,0
744627,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 19:02:19,15
744626,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 19:02:37,18
744625,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 19:04:00,83
744624,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 19:04:03,3
744623,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 19:04:43,40
744622,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 19:05:07,24
744621,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 19:05:14,7
744620,9668240,388766751_9038881013,922267647_3096648104_968866,confirm,2017-05-24 19:07:35,141

In [104]:
#execution of each step:
order = ["start","step_1","step_2","step_3","confirm"]
exe = df_pt.groupby("process_step").agg({"visit_id":"nunique"}).sort_values(by="process_step").reindex(order)

In [105]:

def s_rate(row,df):
    prev_idx = df.index.get_loc(row.name) - 1
    if prev_idx < 0:
        return 100
    prev_row = df.iloc[prev_idx]
    return round((row["visit_id"] / prev_row["visit_id"])*100,2)

In [106]:
exe["step_success(%)"] = exe.apply(s_rate, axis=1, df=exe) 
exe

              visit_id  step_success(%)
process_step
start           144902           100.00
step_1          119255            82.30
step_2          104341            87.49
step_3           95093            91.14
confirm          89826            94.46

In [107]:
def a_s_rate(row,df):
    prev_idx = df.index.get_loc(row.name) - 1
    if prev_idx < 0:
        return 100
    prev_row = df.iloc[0]
    return round((row["visit_id"] / prev_row["visit_id"])*100,2)

In [108]:
exe["overall_success(%)"] = exe.apply(a_s_rate, axis=1, df=exe) 
exe

              visit_id  step_success(%)  overall_success(%)
process_step
start           144902           100.00              100.00
step_1          119255            82.30               82.30
step_2          104341            87.49               72.01
step_3           95093            91.14               65.63
confirm          89826            94.46               61.99