In [1]:
import pandas as pd

In [104]:
df_pt1 = pd.read_csv('https://raw.githubusercontent.com/ross167/vanguard-ab-test/refs/heads/main/database/raw/df_final_web_data_pt_1.csv')
df_pt1

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [105]:
df_pt2 = pd.read_csv('https://raw.githubusercontent.com/ross167/vanguard-ab-test/refs/heads/main/database/raw/df_final_web_data_pt_2.csv')
df_pt2

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [106]:
df_pt = pd.concat([df_pt1,df_pt2])
df_pt

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [107]:
df_pt.duplicated().sum()
df_pt = df_pt.drop_duplicates().reset_index().drop(columns="index")
df_pt

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
744636,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
744637,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
744638,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
744639,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
744640,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [108]:
df_exp = pd.read_csv('https://raw.githubusercontent.com/ross167/vanguard-ab-test/refs/heads/main/database/clean/df_final_experiment_clients_cleaned.csv')

In [109]:
df_exp.drop(columns=["Unnamed: 0"], inplace=True)

In [110]:
df_exp.rename(columns=lambda x: x.lower(), inplace=True)

In [111]:
df_exp

       client_id variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
50495     393005   Control
50496    2908510   Control
50497    7230446      Test
50498    5230357      Test
50499    6334360      Test

[50500 rows x 2 columns]

In [112]:
df_pt["date_time"] = pd.to_datetime(df_pt["date_time"])

In [113]:
df_pt = df_pt.sort_values(by=["client_id","visitor_id","visit_id","date_time"])

In [114]:
df = df_pt.merge(df_exp, on="client_id", how="left")

In [115]:
df.dropna(inplace=True)

In [116]:
df['variation'].unique()

array(['Test', 'Control'], dtype=object)

In [117]:
df_test = df[df['variation'] == "Test"]
df_test

,client_id,visitor_id,visit_id,process_step,date_time,variation
12,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test
13,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test
14,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test
15,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test
16,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test
...,...,...,...,...,...,...
744612,9999729,843385170_36953471821,493310979_9209676464_421146,step_1,2017-04-20 14:22:49,Test
744613,9999729,843385170_36953471821,493310979_9209676464_421146,step_2,2017-04-20 14:27:36,Test
744614,9999729,843385170_36953471821,493310979_9209676464_421146,start,2017-04-20 14:28:57,Test
744627,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,Test
744628,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,Test

In [118]:
df_control = df[df['variation'] == "Control"]
df_control

,client_id,visitor_id,visit_id,process_step,date_time,variation
57,1028,42237450_62128060588,557292053_87239438319_391157,start,2017-04-08 18:51:28,Control
58,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:52:17,Control
59,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:53:20,Control
60,1028,42237450_62128060588,557292053_87239438319_391157,step_2,2017-04-08 18:53:29,Control
61,1028,42237450_62128060588,557292053_87239438319_391157,step_3,2017-04-08 18:58:04,Control
...,...,...,...,...,...,...
744508,9998346,292425655_16607136645,189177304_69869411700_783154,step_2,2017-03-29 15:30:11,Control
744509,9998346,292425655_16607136645,189177304_69869411700_783154,step_3,2017-03-29 15:30:25,Control
744510,9998346,292425655_16607136645,189177304_69869411700_783154,step_3,2017-03-29 15:37:28,Control
744511,9998346,292425655_16607136645,189177304_69869411700_783154,confirm,2017-03-29 15:37:28,Control
744562,9998921,960034051_85687824805,378424178_59565976155_8051,start,2017-04-18 11:26:31,Control

In [119]:
df_test[df_test['process_step'] == 'confirm']['visitor_id'].nunique()

19505

In [123]:
#Calculate the number of visitors that reach confirm step:

number_of_clients_confirm_testgroup = df_test[df_test['process_step'] == 'confirm']['visitor_id'].nunique()
number_of_clients_confirm_controlgroup = df_control[df_control['process_step'] == 'confirm']['visitor_id'].nunique()

#Calculate the total number of visitors in each group:
total_number_of_clients_testgroup = df_test['client_id'].nunique()
total_number_of_clients_controlgroup = df_control['client_id'].nunique()

#Calculate the completion rate for each group:
conversion_rate_testgroup = number_of_clients_confirm_testgroup / total_number_of_clients_testgroup
conversion_rate_controlgroup = number_of_clients_confirm_controlgroup / total_number_of_clients_controlgroup
print(f"Completion rate for Test group: {conversion_rate_testgroup:.2%}")
print(f"Completion rate for Control group: {conversion_rate_controlgroup:.2%}")
print(f"Test group has a {(conversion_rate_testgroup - conversion_rate_controlgroup):.2%} higher completion rate than Control group")

Completion rate for Test group: 72.33%
Completion rate for Control group: 66.15%
Test group has a 6.18% higher completion rate than Control group