In [1]:
import pandas as pd

In [2]:
df_pt1 = pd.read_csv('https://raw.githubusercontent.com/ross167/vanguard-ab-test/refs/heads/main/database/raw/df_final_web_data_pt_1.csv')
df_pt1

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [3]:
df_pt2 = pd.read_csv('https://raw.githubusercontent.com/ross167/vanguard-ab-test/refs/heads/main/database/raw/df_final_web_data_pt_2.csv')
df_pt2

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [42]:
df_pt = pd.concat([df_pt1,df_pt2])
df_pt

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [43]:
df_pt.duplicated().sum()
df_pt = df_pt.drop_duplicates().reset_index().drop(columns="index")
df_pt

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
744636,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
744637,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
744638,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
744639,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
744640,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [44]:
df_exp = pd.read_csv('https://raw.githubusercontent.com/ross167/vanguard-ab-test/refs/heads/main/database/clean/df_final_experiment_clients_cleaned.csv')

In [45]:
df_exp.drop(columns=["Unnamed: 0"], inplace=True)

In [46]:
df_exp.rename(columns=lambda x: x.lower(), inplace=True)

In [47]:
df_exp

       client_id variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
50495     393005   Control
50496    2908510   Control
50497    7230446      Test
50498    5230357      Test
50499    6334360      Test

[50500 rows x 2 columns]

In [48]:
df_pt["date_time"] = pd.to_datetime(df_pt["date_time"])

In [49]:
df = df_pt.merge(df_exp, on="client_id", how="left")

In [50]:
df.dropna(inplace=True)

In [94]:
step = {
    "start": 0,
    "step_1": 1,
    "step_2": 2,
    "step_3": 3,
    "confirm": 4}

In [88]:
df['process_step'] = df['process_step'].map(step)

In [91]:
df

,client_id,visitor_id,visit_id,process_step,date_time,variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
629303,1574008,117364417_77840596075,528720790_71583064618_169151,0,2017-05-06 23:43:27,Test
629346,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:57:17,Control
629347,2908510,814969699_90652851448,562606085_36368381773_92090,2,2017-05-10 22:56:31,Control
629348,2908510,814969699_90652851448,562606085_36368381773_92090,1,2017-05-10 22:56:23,Control
629349,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:56:20,Control

In [92]:
df_test = df[df['variation'] == "Test"]
df_test

,client_id,visitor_id,visit_id,process_step,date_time,variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
629299,1574008,117364417_77840596075,528720790_71583064618_169151,4,2017-05-06 23:51:05,Test
629300,1574008,117364417_77840596075,528720790_71583064618_169151,3,2017-05-06 23:50:40,Test
629301,1574008,117364417_77840596075,528720790_71583064618_169151,2,2017-05-06 23:43:47,Test
629302,1574008,117364417_77840596075,528720790_71583064618_169151,1,2017-05-06 23:43:34,Test
629303,1574008,117364417_77840596075,528720790_71583064618_169151,0,2017-05-06 23:43:27,Test

In [93]:
df_control = df[df['variation'] == "Control"]
df_control

,client_id,visitor_id,visit_id,process_step,date_time,variation
13,4033851,762728880_76361333336,949661017_22392791362_127391,4,2017-04-05 12:29:03,Control
14,4033851,762728880_76361333336,949661017_22392791362_127391,4,2017-04-05 12:29:01,Control
15,4033851,762728880_76361333336,949661017_22392791362_127391,4,2017-04-05 12:28:52,Control
16,4033851,762728880_76361333336,949661017_22392791362_127391,3,2017-04-05 12:26:08,Control
17,4033851,762728880_76361333336,949661017_22392791362_127391,2,2017-04-05 12:24:43,Control
...,...,...,...,...,...,...
629289,433098,5505424_50616523266,773565250_67577573147_389841,0,2017-05-13 15:30:47,Control
629346,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:57:17,Control
629347,2908510,814969699_90652851448,562606085_36368381773_92090,2,2017-05-10 22:56:31,Control
629348,2908510,814969699_90652851448,562606085_36368381773_92090,1,2017-05-10 22:56:23,Control
629349,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:56:20,Control

In [ ]:
df_test[df_test['process_step'] == 4]['visitor_id'].nunique()

19505

In [ ]:
#Function that calculate the completion rate by different parameters and step

def calculate_completion_rate(param,step):
    number_of_clients_confirm_testgroup = df_test[df_test['process_step'] == step][param].nunique()
    number_of_clients_confirm_controlgroup = df_control[df_control['process_step'] == step][param].nunique()

    #Calculate the total number of visitors in each group:

    total_number_of_clients_testgroup = df_test[df_test['process_step'] == 0][param].nunique()
    total_number_of_clients_controlgroup = df_control[df_control['process_step'] == 0][param].nunique()

    #Calculate the completion rate for each group:

    completion_rate_testgroup = round((number_of_clients_confirm_testgroup / total_number_of_clients_testgroup)*100, 2)
    completion_rate_controlgroup = round((number_of_clients_confirm_controlgroup / total_number_of_clients_controlgroup)*100, 2)


    #print(f"Successful rate of step number {step} for Test group: {completion_rate_testgroup}%")
    #print(f"Successful rate of step number {step} for Control group: {completion_rate_controlgroup}%")
    #print(f"Test group has a {(conversion_rate_testgroup - conversion_rate_controlgroup):.2%} higher completion rate for step {step} than Control group counting by {parram}")

    return  completion_rate_testgroup, completion_rate_controlgroup

In [173]:
calculate_completion_rate('client_id',4)

(70.04, 65.97)

In [174]:
calculate_completion_rate('visit_id',4)

(65.54, 51.91)

In [175]:
calculate_completion_rate('client_id',1)

(90.96, 86.13)

In [176]:
#Success rate by each group count by client_id 
df_client_id = pd.DataFrame([calculate_completion_rate('client_id', step) for step in range (5)], columns=["test_group", "control_group"]).reset_index()
df_client_id  = df_client_id.rename(columns = {'index': 'step'})
df_client_id

   step  test_group  control_group
0     0      100.00         100.00
1     1       90.96          86.13
2     2       83.43          79.71
3     3       78.27          74.46
4     4       70.04          65.97

In [177]:
#Success rate by each group count by visitor_id (Each client has average 2 visitor_id)
df_visitor_id = pd.DataFrame([calculate_completion_rate('visitor_id', step) for step in range (5)], columns=["test_group", "control_group"]).reset_index()
df_visitor_id  = df_visitor_id.rename(columns = {'index': 'step'})
df_visitor_id

   step  test_group  control_group
0     0      100.00         100.00
1     1       88.93          81.96
2     2       79.96          73.97
3     3       74.02          68.31
4     4       67.88          60.08

In [178]:
df_visit_id = pd.DataFrame([calculate_completion_rate('visit_id', step) for step in range (5)], columns=["test_group", "control_group"]).reset_index()
df_visit_id = df_visit_id.rename(columns = {'index': 'step'})
df_visit_id

   step  test_group  control_group
0     0      100.00         100.00
1     1       85.31          76.18
2     2       73.90          65.15
3     3       66.91          59.20
4     4       65.54          51.91